awscli==1.14.16
beautifulsoup4==4.4.1
boto3==1.5.22
botocore==1.8.36
chardet==2.3.0
colorama==0.3.7
docutils==0.14
futures==3.2.0
Geohash==1.0
gyp==0.1
html5lib==0.999
jmespath==0.9.3
lxml==3.5.0
pyasn1==0.4.2
python-dateutil==2.6.1
PyYAML==3.12
rsa==3.4.2
s3transfer==0.1.12
six==1.11.0
virtualenv==15.0.1
